

/*** VAN PAGES ***/
.van-list-container {
    padding-inline: 23px
}

.van-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 34px;
    margin-top: 57px;
}

.van-tile a {
    color: #161616;
    text-decoration: none;    
}

.van-tile img {
    max-width: 100%;
    border-radius: 5px;
}

.van-list-container button {
    margin-right: 20px;
    cursor: pointer;
}

.van-type {
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    background-color: #FFEAD0;
    color: #4D4D4D;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
    color: #FFEAD0;
}

.van-type:focus {
    outline: none;
}

.van-type.selected {
    color: #FFEAD0;
}

.van-type.simple:hover, .van-type.simple.selected {
    background-color: #E17654;
}

.van-type.rugged:hover, .van-type.rugged.selected {
    background-color: #115E59;
}

.van-type.luxury:hover, .van-type.luxury.selected {
    background-color: #161616;
}

.van-type.clear-filters {
    margin-left: -20px;
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    text-decoration: underline;
    background-color: transparent;
    color: #4D4D4D;
}

i[class*='van-type-'] {
    padding: 7px 14px;
}

.van-detail-container {
    padding: 27px;
}

.van-detail-container .back-button {
    color: black;
    text-decoration: none;
}

.van-detail-container .back-button:visited {
    
}

.van-detail-container .back-button span {
    text-decoration: underline;
}

.van-detail {
    display: flex;
    flex-direction: column;
    color: #161616;
}

.van-detail img {
    border-radius: 5px;
    margin-block: 47px;
}

.van-detail h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.van-detail > i {
    align-self: flex-start;
}

.van-detail .van-price {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.van-detail .van-price span {
    font-weight: 700;
    font-size: 1.5rem;
}

.van-detail .link-button {
    background-color: #FF8C38;
    color: white;
    font-size: 1.125rem;
}

.host-nav {
    display: flex;
}

.host-nav a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
    padding: 5px 20px;
}

.host-nav a:hover {
    color: #161616;
    text-decoration: underline;
    font-weight: 600;
}

.host-van-link-wrapper {
    color: unset;
    text-decoration: unset;
}

.host-vans-list {
    padding-inline: 26px;
}

.host-vans-title {
    padding-inline: 26px;
}

.host-van-single {
    display: flex;
    align-items: center;
    background-color: white;
    margin-bottom: 15px;
    padding-block: 18px;
    padding-left: 24px;
}

.host-van-single > img {
    height: 70px;
    border-radius: 5px;
    margin-right: 17px;
}

.host-van-info h3 {
    font-size: 20px;
    font-weight: 600;
    margin-block: 10px;
}

.host-van-info p {
    margin-block: 10px;
}

.host-van-detail-layout-container {
    background-color: white;
    padding: 24px;
    margin: 30px 26px;
}

.host-van-detail {
    display: flex;
    align-items: center;
}

.host-van-detail > img {
    height: 160px;
    border-radius: 5px;
    margin-right: 20px;
}

.host-van-detail-info-text > h3 {
    margin-top: 24px;
    margin-bottom: 5px;
    font-size: 26px;
    font-weight: 700;
}

.host-van-detail-info-text > h4 {
    font-size: 20px;
    margin-block: 0;
}