.host-nav {
    display: flex;
  }
  
  .host-nav a {
    text-decoration: none;
    color: #4d4d4d;
    font-weight: 500;
    padding: 5px 20px;
  }
  
  .host-nav a:hover {
    color: #161616;
    text-decoration: underline;
    font-weight: 600;
  }
  