.back-button {
  display: block;
  color: black;
  text-decoration: none;
  margin-top: 60px;
  margin-left: 26px;
}

.back-button span:hover {
  text-decoration: underline;
}

.host-van-detail-nav {
  display: flex;
  margin-block: 25px;
}

.host-van-detail-nav a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 500;
  padding: 5px 20px;
}

.host-van-detail-nav a:first-of-type {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 500;
  padding: 5px 15px;
  margin-left: -15px;
}

.host-van-detail-nav a:hover {
  color: #161616;
  text-decoration: underline;
  font-weight: 700;
}
