.login-container,
.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 27px;
}

.login-form,
.signup-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.login-form > input,
.signup-form > input {
  border: 1px solid rgba(209, 213, 219);
  height: 40px;
  text-indent: 10px;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: 400;
}

.login-form > input:focus,
.signup-form > input:focus {
  outline: none;
}

.login-form > input:first-of-type,
.signup-form > input:first-of-type {
  border-radius: 6px 6px 0px 0px;
}

.login-form > input:last-of-type,
.signup-form > input:last-of-type {
  border-radius: 0px 0px 6px 6px;
  border-top: none;
}

.login-form > button,
.signup-form > button {
  background-color: #ff8c38;
  border: none;
  border-radius: 6px;
  height: 55px;
  margin-top: 22px;
  color: white;
  font-family: "Inter", sans-serif;
}

.createAcc-Btn,
.loginAcc-Btn {
  font-size: 18px;
  color: #0e4eb5;
  text-decoration: none;
  transition: all ease-in 35ms;
}
.createAcc-Btn:hover,
.loginAcc-Btn:hover {
  scale: 1.1;
  color: #2a82d4;
}
.pass-check {
  top: 20.15rem;
  margin-left: 28.5rem;
  position: absolute;
}
.cpass-check {
  top: 22.55rem;
  margin-left: 28.5rem;
  position: absolute;
}
.email-check {
  top: 15.2rem;
  margin-left: 28.5rem;
  position: absolute;
}
.cemail-check {
  top: 17.7rem;
  margin-left: 28.5rem;
  position: absolute;
}
.err-msg {
  display: flex;
  color: #000;
}

/* style={{ color: "#2a82d6", textDecoration: "none" }}style={{ color: "red" }}  */
